[2018-12-18 19:24] maximecb opened #4 "Revised article TODO"
Here is a list of things to complete for the revised article. Most of these will probably be done in January:

- [x] Investigate one-hot representation of observations, validate performance effect (Maxime)
  - Effect is mixed, not clearly beneficial
- [x] Validate and test new bot (Salem)
- [x] Add bibtex for BabyAI paper to repo
- [X] Deanonymize paper
- [X] Regenerate all demonstrations (depend

[2019-01-04 16:20] rizar opened #5 "do we really need both test_mission_gen.py and gui.py?"
We currently have two simple scripts to visualize BabyAI levels. Should we delete one of them?  Do we really need both of them? If we do need both of them, we should make their API consistent (right now `--env-name` in `gui.py` must be of the form `BabyAI-XXX-v0`, whereas `--level-name` in `test_mission_gen.py` must be just XXX).

[2019-01-04 16:36] maximecb commented on #5
We've already had this discussion. I'd like to keep them both because the `gui` app use PyQT. It's a useful starting point if you want to create some UI with buttons and text boxes, but for those who have never coded it, the code will be a bit offputting. The `test_mission_gen` app is simpler, and it has a mode where you can see the partially observable view only I believe.

If we're going to unif

[2019-01-04 16:43] rizar commented on #5
I see. My primary concern is that having inconsistent UI in the scripts
that people look at first is undesirable. Would you mind if I go ahead and
change make `test_mission_gen.py` to accept the full OpenAI id, and also to
create the environment by using OpenAI gym, and not directly?

On Fri, 4 Jan 2019 at 11:36 Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-01-04 16:47] maximecb commented on #5
Sure, you can make that change, and also rename the arguments to just
"--env" like the other scripts.

On Fri, 4 Jan 2019 at 11:43, Dzmitry Bahdanau <notifications@github.com>
wrote:

[2019-01-04 19:34] rizar opened #7 "bot crash"
When I am generating demonstrations for the BossLevel, I get this:

[code]

Unless this stack trace is immediately meaningful for anyone, I'm going to dig into it myself.

[2019-01-04 21:18] saleml commented on #7
It seems like the instruction makes the bot try to look for a particular key, but there is no corresponding key in the environment.
Do you happen to know the corresponding seed ?

[2019-01-04 22:57] rizar commented on #7
I don't have the seed, but I can tell you that this is the demonstration #325.

[2019-01-07 20:00] rizar commented on #7
FYI, I'm debugging this now.

[2019-01-07 20:58] rizar commented on #7
Ok, so here is what happens. The instruction is `go to the yellow key and go to the grey door, then go to a box and open the green door`. But the yellow key happens to be behind the green door. So the green key is picked up and the green door is opened before the agent proceeds to executing the last clause.

Will keep investigating.

[2019-01-07 21:03] rizar commented on #7
@maximecb I might be wrong, but it seems to me that this instruction is basically impossible to execute. Because the `open the green door` clause can only be executed if the green door is originally closed. Am I right?

[2019-01-07 21:19] maximecb commented on #7
For unlocked doors it's possible to close them and then reopen them, and I think the bot already does this. For locked doors, I believe you're right, it's not possible to close and then reopen them. This once again goes to show that our seemingly simple gridworld has some complex emergent interactions that are hard to foresee.

Some possibilities to handle this:
1. For levels with implicit unlocki

[2019-01-07 21:50] rizar commented on #7
That sounds like the "real world" behavior of doors, doesn't it? :)

Just to make sure I understand: is it currently the case that if a locked door is opened and then closed then it becomes locked it, but the key disappears from the world?

[2019-01-07 22:00] maximecb commented on #7
Right now, you can open and close "normal" (unlocked) doors as many times as you want. However, after you open a locked door, you can't close it back. This is because doors and locked doors are different types of objects in the world, which in hindsight was a bad design decision.

The cleanest fix would be to try to "unify" doors and locked doors into one type of object, so that doors have 3 state

[2019-01-07 22:09] rizar commented on #7
From the top of my head, the fix that you propose seems to make a lot of
sense. If you are not too afraid of backward compatibility issues, I guess
we could go ahead with it.

On Mon, 7 Jan 2019 at 17:00 Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-01-08 00:05] maximecb commented on #7
I'll be looking at it tomorrow. Keep in mind you'll have to regenerate all the demos after that change (assuming it works). Still good to get all your scripts tested and ready though.

[2019-01-08 00:36] rizar commented on #7
Of course, I am not going to launch any large scale generation before we
are done with this. OTOH, my scripts are fully ready.

On Mon, 7 Jan 2019 at 19:05 Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-01-08 16:57] maximecb commented on #7
The change is merged and the automated tests passed. Visual inspection looks right as well. Fingers crossed that the demos will generate correctly now.

[2019-01-08 18:14] rizar commented on #7
OK, thanks, now it crashes on the example #709 with a Python stack overflow.  The instruction is "open purple door". I will investigate.

![image](https://user-images.githubusercontent.com/654434/50850248-4a336a00-1347-11e9-8101-648f848dd6ce.png)

[2019-01-08 18:33] rizar commented on #7
See a proposed fix in #10

[2019-01-08 19:49] rizar commented on #7
Looks like the bot no longer crashes

[2019-01-08 19:49] #7 closed

[2019-01-08 19:57] rizar opened #11 "bot failing some missions"
The bot fails the mission #1308. I investigated, and here is what happens. Let's look at  https://github.com/mila-udem/babyai/blob/9ed5e0db5692f6229dbe339d2d597e863d4dd9de/babyai/bot.py#L1210

What seems to happen here is that after the agent picks up an object, it may have to drop it before it reaches the location where the object must be dropped. For example, if the instruction is "put a ball ne

[2019-01-08 20:35] maximecb commented on #11
Is this on BossLevel?

I'm surprised we're getting all these new failures. For sure this kind of thing was handled correctly before the changes to the bot. The bot is supposed to pick back up what it was carrying if it has to unblock something (@saleml ?).

[2019-01-08 20:37] #5 closed

[2019-01-08 20:37] rizar commented on #11
We discussed this with @saleml , he said he can fix it

[2019-01-08 22:15] #11 closed

[2019-01-10 23:15] rizar opened #14 "looking for very very blocked objects"
In the example below, the red ball is blocked from all directions. The box can't handle such cases currently.

![image](https://user-images.githubusercontent.com/654434/51003060-53693600-1503-11e9-9737-594ffaf51ec5.png)

Clearly, even more contrived examples of this kind can be constructed. I am now reading the bot's code to see if we can come up with a rather general heuristic to unblock objects

[2019-01-11 00:35] saleml commented on #14
I'm suspecting it's because of GoToAdjPos subgoal rather than "way too blocked". Could you provide the seed / shift ? I can have a look at this

[2019-01-11 14:37] rizar commented on #14
Cool, I would really appreciate your help. ` --seed=16 --shift=805`.

[2019-01-13 16:20] rizar opened #15 "refactor GoToObj and GoNextTo"
As discussed with @saleml , I will take care of this. We don't want GoToObj to put GoNextTo on the stack.

[2019-01-13 16:22] rizar opened #16 "get rid of GoToAdjPos"
`GoToAdjPos` can be implemented as a special case of `GoToObj` and `GoNextTo`. We discussed this with @saleml , and he was willing to implement this.

[2019-01-13 17:30] maximecb commented on #15
Please elaborate on your reasoning. I’d like to be kept in the loop a bit more here, considering I might have to maintain this code.

[2019-01-14 22:16] maximecb commented on #4
@rizar Since we're not as pressed for time, I think it would be nice to include more results in Table 4. For instance, I'm curious how much harder GoToObjMaze is than GoToObj.

[2019-01-15 17:21] rizar commented on #15
Sure. I feel uneasy about our practice of having `GoToObj` put `GoNextTo` on the stack, and then having `GoNextTo` delete itself from it:

https://github.com/mila-udem/babyai/blob/master/babyai/bot.py#L607

I don't yet full understand how this works so far, but it seems to me that we could refactor this part to have `GoToObj.take_action()` call `GoNextTo.take_action()`, in the same way as `GoToObj

[2019-01-16 21:32] rizar opened #20 "broken bonus levels"
See e.g.  `PutNextS6N3Carrying`:

![image](https://user-images.githubusercontent.com/654434/51279875-3ffb1680-19ac-11e9-959c-9dc079656939.png)

[2019-01-16 22:06] maximecb commented on #20
I don't think it's broken, this is an environment where the agent starts out carrying the object, for use in curriculum learning.

[2019-01-16 22:21] rizar commented on #20
I see. I just didn't pay attention to the fact that the object was carried from the beginning.

Can you also check `KeyInBox` and `UnlockToUnlock`? The bot fails on them.

[2019-01-18 22:29] rizar opened #22 "bot spawned in a room without a key"
`python scripts/gui.py --env=BabyAI-Unlock-v0 --seed=1 --shift=8`

![image](https://user-images.githubusercontent.com/654434/51416213-808e9780-1b46-11e9-9f38-247ac1198adf.png)

[2019-01-19 01:37] maximecb commented on #22
Pushed a commit to try and fix this.

[2019-01-22 14:48] rizar opened #23 "reseed the rng for every mission when generating demos"
It is currently very tricky to debug occasional bot failures because the environment needs to be reset a  number of times. Perhaps we could reseed the random number generator for every mission. The only pitfall  I can think of is that we should still make sure that the resulting data never overlaps with validation or test sets.

[2019-01-22 15:10] maximecb commented on #23
We technically don't thoroughly check that the data doesn't overlap right now. We set a given seed and generate missions, set a different seed and generate a different set of missions in sequence. Would it be acceptable to just say, training data is seeds in the range 1 to 1 million, testing is after 1 million?

Just to be rigorous, you could generate a set of demos that way and I could write a pi

[2019-01-22 15:11] #22 closed

[2019-01-22 15:11] maximecb commented on #16
I believe this is done.

[2019-01-22 15:11] #16 closed

[2019-01-22 15:17] rizar commented on #23
Given how complex the levels are, I believe it would be sufficient to
always use different seeds for training and testing. You could verify this
with a script if you want. I am going through the code right now and
checking our usage of random seeds. Most likely, your suggestion is OK,
although I would go for a bit more future-proof pool of training missions,
reserving seeds from 1 to 10^9 for trai

[2019-01-22 20:00] maximecb commented on #23
There is a call to `evaluate()` in `train_intelligent_expert.py`: https://github.com/mila-udem/babyai/blob/master/scripts/train_intelligent_expert.py#L328

As long as this method automatically starts from seeds seeds >= 10^9 we should be ok.

[2019-01-22 20:16] rizar commented on #23
The line you are referring to calls
`babyai.imitation.ImitationLearning.validate()`, which in turns calls
`evaluate()` with `args.val_seed`, which should be equal to `int(1e9)`,
cause this is its default value.

On Tue, 22 Jan 2019 at 15:00 Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-01-23 21:29] rizar opened #28 "support Python reference as an argument in GoNextTo"
... in order to stop changing the stack in `DropSubgoal`.

That's a little but important refactoring that can prevent bad bugs in the future.

[2019-01-23 21:30] rizar opened #29 "go straight for the key when you head for locked door"
Out of the suboptimal things that the bot does, this one stands out --- why go to the locked door without the key if you know it's locked?? Should be not too hard to fix, but will require full-scale testing (as usual).

[2019-01-23 21:33] maximecb commented on #28
FYI, in dynamic/managed languages, the term is not pointer, but reference.

[2019-01-23 21:37] rizar commented on #28
Can't argue with an expert!

For me, Pascal/C++ were my first languages, and learning Java/Python started with repeating to myself the "everything is a pointer" mantra.

[2019-01-28 01:45] #28 closed

[2019-01-28 16:04] maximecb opened #33 "Document how to create new levels"
Create a markdown document with some explanations on how level generation works in BabyAI and how to create custom levels. This would go under /docs.

More broadly, I'd like to split up the README into more sub-documents, as I've done in the [MiniWorld repo](https://github.com/maximecb/gym-miniworld/blob/master/README.md). Keep only introduction, installation and basic usage into the main README.

[2019-01-28 16:14] maximecb commented on #29
We'll should choose whether we do this or not before regenerating all the demos IMO. Once the demos are regenerated and the updated paper is out, it would be best to avoid changing the bot if possible.

[2019-01-28 19:32] maximecb opened #34 "Scrap cnn1, cnn2, etc?"
Seeing we use `expert_filmcnn` pretty much all the time, should we scrap cnn1, cnn2, all the pieces we don't use in the model?

[2019-01-28 22:14] rizar commented on #29
Yes, I agree that it is time to finalize the ICLR version of the bot. I've tried to quickly make this change to the bot, and I found it not super-easy. Doing this properly requires copying a lot of code from `OpenSubgoal` to `GoNextToSubgoal`, the code that is responsible for dropping the key after the door is open and for picking up the object that the agent was carrying when it decided to go for

[2019-01-28 22:51] maximecb commented on #29
If you can get it working by Jan 31st it could be ok. By then we really need to generate the demos and make sure that the code to run the experiments is still working correctly. Might be wise to start some test runs without waiting for all the demos to be generated.

[2019-01-30 15:29] maximecb opened #37 "Make train_intelligent_expert.py resumable"
Working on this issue today. I will make the script save the generated demos, and also start from the set of loaded demos instead of always generating them.

[2019-01-30 15:35] #29 closed

[2019-01-30 16:48] maximecb commented on #37
@rizar I have a WIP that saves the demos and the seed used to generate demos. With the caveat that if training is interrupted, it will restart the training for that phase when resumed. Is that ok, or do we expect interruptions to be frequent enough for that to be a problem?

Another issue is that I'm kind of breaking the dagger code. Though I'm not sure we ever actually implemented dagger properly

[2019-01-30 17:10] maximecb commented on #37
Actually, I think I've succeeded in making it reload the model, hurray.

Are you ok with me removing the dagger code?

[2019-01-30 18:10] rizar commented on #37
Yes, I'm fine with removing DAGGER for now, we can add it back once we have
a version that for sure works.

On Wed, 30 Jan 2019 at 12:10 Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-01-30 19:52] #37 closed

[2019-02-05 20:56] #34 closed

[2019-02-05 21:01] maximecb opened #46 "Integration / training tests"
Test that a model can be trained to a high success rate on a smaller version of the `BossLevel`. This will likely take hours. Ideally it should be a scheduled job that runs on the Mila cluster. This task is currently on hold until the cluster is in a fully working state.

[2019-02-20 14:55] rizar opened #50 "default hyperparameters don't make sense for both IL and RL"
For example, `--save-interval=1` makes sense for IL but not for RL. `--batch-size=1280` is the one we used for RL, not for IL.

We should somehow allow these scripts to have different hyperparameters by default.

[2019-02-26 16:15] dyth opened #53 "GoNextToSubgoal explore bug"
https://github.com/mila-iqia/babyai/blob/5fbcda6612262d2a18b908b2e1fde727e09f721e/babyai/bot.py#L377

Suggestion to change the following line:

`self.stack` --> `self.bot.stack`
`.get_action()` --> ``

[2019-03-05 20:41] akshay-sharma1995 opened #55 "Not getting the success rate mentioned in the paper using the pretrained models."
Hi,
I tried to evaluate the baselines using the pretrained models provided in the docker image for the levels GoToSeq, and PickupLoc. I used the il pretrained model (GoToSeq-1) for the former environment, and the rl pretrained model (PickupLoc-4_best) for the latter. I was expecting to get success rates approximately equal to what has been mentioned in the paper, but I got only 13%, and 65% for th

[2019-03-05 21:54] maximecb commented on #55
Hi, just to make sure, did you use the models in the docker image with the code that is also in the docker image? We've made changes to the master branch since, so if you're using the models from the docker image with code from the current github repo, it's to be expected that this won't work.

If that's not the problem, can you tell us what shell commands you used to run evaluate.py?

[2019-03-05 23:36] akshay-sharma1995 commented on #55
Hi Maxime,
Thanks for the quick reply.
So for the results I have posted I used the models from the docker image with the code from the github repo. But after you pointed it out I used the code provided in the docker image, and the results did not change much. Now I am getting 12% success rate for the GoToSeq-v0 environment, and 69% success rate for the PickupLocal-v0. I have used the same models a

[2019-03-06 15:57] maximecb commented on #53
@rizar This seems fairly trivial to fix, just wanted to make sure you are aware of it. It seems like that line of code is simply never exercised during the demo generation?

[2019-03-06 15:59] rizar commented on #53
Yeah, apparently this little block of code is simply never executed...

On Wed, 6 Mar 2019 at 10:57, Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-03-06 16:14] saleml commented on #53
It makes sense that this block of code is never executed: The `ExploreSubgoal` is created at line 301 when the bot doesn't know where an object is. But once the position is defined (i.e. starting from line 308), it necessarily means that the bot knows how to get there.

[2019-03-06 16:43] maximecb commented on #55
The commands that you provided don't work as-is, you'd have to use:

[code]

They seem to be working on my end. Evaluating with just 50 episodes because this laptop has a slow GPU:

[code]

[code]

Do you have `nvidia-docker` installed, or are you using plain docker?

[2019-03-07 03:43] akshay-sharma1995 commented on #55
The reason I had used the commands like that was because I was running them from the script directory, and had kind of remapped the model directory such that it worked like that.
But anyways I tried to do it the way you suggested. So if I use the shell commands while in the docker image they work fine.
But earlier I had just copied all the stuff out of the docker container into my local machine, a

[2019-03-07 03:46] maximecb commented on #55
The docker images also contains an installation of torch, python, numpy, etc. It maintains everything in a "frozen" configuration so the results stay replicable, eg: you're running exactly the setup we has when we trained those models. It's hard to say exactly what's different with your configuration outside of the docker container.

[2019-03-07 03:50] akshay-sharma1995 commented on #55
I did not know that. Seems like that might have been the issue then.
Thanks for the help!

[2019-03-07 03:54] #55 closed

[2019-03-14 18:25] dyth commented on #53
Created pull request for fix here: https://github.com/mila-iqia/babyai/pull/58

[2019-03-14 19:37] #53 closed

[2019-05-15 15:02] maximecb commented on #50
The `--save-interval` is now different. Dima, do you have a suggestion for an appropriate batch size for IL?

[2019-05-15 15:02] maximecb commented on #4
We still need to document the commands used to train big and small models in the ICLR19 branch readme.

[2019-05-16 17:22] cicicice opened #71 "Build-essential missing from Linux instructions"
I was delighted to see the environment seems 100% functional in Windows 10 with the conda method. On Linux though, conda again, the last pip fails, apparently some compilation facility is required, Ubuntu the build-essential package was enough.

[2019-05-16 17:37] maximecb commented on #71
Hi, could you please paste the error that you got, and provide the apt command you used to install the missing package?

[2019-05-27 12:35] rizar commented on #50
For "small" model I used `--batch-size=256`, for "large" model I used `--batch-size=128`. We could switch to using the same batch size for both settings now,  since after the bot was optimized, the demonstrations have become shorter.

[2019-05-27 12:36] rizar commented on #4
I have a lot of good stuff in my development branch that I want now to merge to ICLR19 branch, including the info on how to train models. There will be a PR (or a few of them) this week.

[2019-06-17 01:45] rickyloynd-microsoft opened #74 "How to measure RL sample efficiency"
Hi,

My question relates to the RL results in Table 3 of the paper. I’m trying to use the iclr19 branch to generate at least 10 such results (for each level) to get stable mean and variance. The train_rl.py script seems to do almost everything required. But at the bottom of that file, after calculating the success rate over the (default of 512) episodes that were tested, the success rate is not ac

[2019-06-18 01:14] rizar commented on #74
Thanks for your question. In fact, we are using .csv logs to compute when 99% success rate is reached. There is a PR underway that automates the process, you can try using the `rl_dataeff.py` script from it:

https://github.com/mila-iqia/babyai/pull/72/files#diff-96cf5347366f1902ca3259f6a094df51

I will back from vacation on Thursday and I will try to provide more help then.

[2019-06-21 10:21] jordiae opened #76 "Google Colab"
Hello, thanks for your work.

Would it be possible to run BabyAI on Google Colab? I assume there would be some technical difficulties but perhaps someone has been able to do so.

Thanks in advance.

[2019-06-21 12:49] maximecb commented on #76
Hi,

We've never used Google Colab. You'd have to check if you can install the required dependencies: https://colab.research.google.com/notebooks/snippets/importing_libraries.ipynb. Please try it and let us know what happens.

[2019-06-21 12:49] #71 closed

[2019-06-21 13:13] jordiae commented on #76
@maximecb Thanks for your answer, I'll give it a try.

[2019-06-30 13:47] chitwansaharia opened #77 "Potential initialisation error of self.mask in base.py"
`self.mask` [here](https://github.com/mila-iqia/babyai/blob/master/babyai/rl/algos/base.py#L88) is initialised as an array of 1s. However, when flattening out the mask [here](https://github.com/mila-iqia/babyai/blob/master/babyai/rl/algos/base.py#L217) it will be buggy. Here is an example to illustrate the problem.
`num_procs = 2, num_frames_per_proc = 4`
After accumulating the experience, `self.m

[2019-07-02 21:05] maximecb commented on #77
Hi Chitwan!

I'm assuming this mask tells us the steps at which episodes are still active, not done? (this needs commenting). Are you saying it should be initialized with zeros instead? What effect would this error have?

[2019-07-03 01:33] chitwansaharia commented on #77
Hi Maxime, I rechecked the code. It seems like this mask initialization would have been an issue but the memory initialization (zero at the start of every process) seems to take care of it. Basically the purpose that needed to be served was that the memory should be zero at the start of experience of each process. Since the memory is itself zero initialized, this will be taken care of.

I am closi

[2019-07-03 01:33] #77 closed

[2019-07-10 15:41] ricvolpe opened #78 "Error in docs/train-eval.md?"
Maybe I am a machine and I do not know this but in **Training** section

It seems to me that `.csv` is the a human readable log and `.log` is the machine readable log, or am I missing something?

[2019-08-18 21:11] chitwansaharia opened #80 "Bug in BOT Stack for PickupLoc"
The BOT stack for `BabyAI-PickupLoc-v0` contains a drop subgoal. It is due to the fact that every pickup subgoal automatically adds a drop subgoal. However, for PickupLoc, when the BOT needs to act `done` after finishing all the subgoals will end up failing the mission, as it would have dropped the object already.

[2019-08-18 21:25] #76 closed

[2019-08-19 17:58] rizar commented on #80
Thanks does sound like a bug. I guess the bot should behave differently
when it needs to pick smth up in the end of the execution and not in the
middle.

Would you like to try fixing it?

On Sun, 18 Aug 2019 at 17:25, Maxime Chevalier-Boisvert <
notifications@github.com> wrote:

[2019-08-20 15:31] maximecb commented on #80
An important thing to check, after fixing the bug, is that the correctness and performance of the bot is not affected. See the [eval_bot](https://github.com/mila-iqia/babyai/blob/master/scripts/eval_bot.py) script.

@chitwansaharia is this bug blocking you right now?

[2019-08-20 15:33] chitwansaharia commented on #80
Sure. I will try fixing the bug, and check the correctness and performance of the bot afterwards. @maximecb I made a temporary fix to serve my purpose. I removed the drop subgoal manually while generating demos for PickupLoc. So it is not blocking me currently.

[2019-08-22 18:23] chitwansaharia commented on #80
Even in the instructions like `Pickup the blue ball and go to the red ball`, you still need to remove the drop subgoal even if the pickup is not the last thing that needs to be done.
A possible solution I can think of is post-processing stack inserting drop subgoal between every two Pickups (inserting it just before latter Pickup subgoal). Do you think this approach is okay ? @rizar

[2019-10-24 19:30] #4 closed

[2019-11-07 18:49] akshay-sharma1995 commented on #80
Hey @chitwansaharia were you able to fix this bug? I have an older version of Babyai and I am getting Assertion Error `assert self.bot.mission.carrying` if I try to run the expert for PickupLoc using the learner's actions. This is coming from the Drop Subgoal, which I am guessing because of the issue you mentioned. Before updating to the latest version I just wanted to know whether the bug was fix

[2019-11-08 17:44] maximecb commented on #80
@chitwansaharia ?

[2019-11-08 21:11] chitwansaharia commented on #80
Hi @akshay-sharma1995  I have not pushed the solution yet. Although, the possible workaround for PickupLoc specifically is just to remove the drop subgoal from the BOT stack. It is just a list of subgoals, and you can easily remove the Drop Subgoal from that list.

[2019-11-08 21:11] chitwansaharia opened #85 "> Thanks"
@rizar

Even in the instructions like `Pickup the blue ball and go to the red ball`, you still need to remove the drop subgoal even if the pickup is not the last thing that needs to be done.
A possible solution I can think of is post-processing stack inserting drop subgoal between every two Pickups (inserting it just before latter Pickup subgoal). Do you think this approach is okay ? @rizar

_Orig

[2019-11-08 21:11] #85 closed

[2019-11-08 21:12] chitwansaharia commented on #80
@rizar  Please look at the solution idea I proposed before. If that sounds good, I will go ahead and create the PR. Thanks!

[2019-11-09 22:05] akshay-sharma1995 commented on #80
@chitwansaharia, @maximecb  I tried this fix. For pickuploc env I removed the DropSubgoal, but now I am getting an assertion error for the PickupSubGoal ` assert not self.bot.mission.carrying ` which means the bot is already carrying something. Just to clarify I am trying to run the Bot along with a  trained agent and using the agent's action to update the Bot state.
According to the comment on L5

[2019-11-10 00:12] chitwansaharia commented on #80
@akshay-sharma1995, can you post the relevant demo code snippet, so that I can run it and get more idea about the problem you are facing ?

[2019-11-10 01:57] mbchang opened #86 "Headless rendering issue for environments with doors"
Hi, I am experiencing an issue rendering the frames using `env.render(mode='rgb_array')`. For some reason this issue seems to be specific to environments that contain doors. The rendering looks like this:

![image](https://user-images.githubusercontent.com/6439365/68537527-6d89c580-031a-11ea-81d4-ebbe56eb11b5.png)

Attached is an ipython notebook with some examples. This seems to be an issue with

[2019-11-11 14:27] rizar commented on #80
Sorry for the delay, let me join the discussion.

@chitwansaharia , why do we have to remove `DropSubgoal` from the stack that corresponds`Pickup the blue ball and go to the red ball`. What harm does `DropSubgoal` do in this case?

[2019-11-11 14:28] rizar commented on #86
@maximecb

[2019-11-11 15:54] maximecb commented on #86
Looking at the issue.

[2019-11-11 16:03] maximecb commented on #86
![Screenshot_2019-11-11_10-58-30](https://user-images.githubusercontent.com/713766/68601528-80afa900-0472-11ea-9c52-ff50881b0110.png)

So, it seems to work fine on my end using the latest MiniGrid pull from GitHub and matplotlib without the agg backend. I wonder if it could be an issue with your setup because this environment is not square, rather than the fact that it has a door.

@mbchang Could

[2019-11-11 16:09] maximecb commented on #86
EDIT: it also works fine with the agg backend and saving the figure to PNG

@mbchang The figure should be a rectangle that's twice as wide as it's tall, but your rendering shows it as twice as tall as it's wide. I think you have to either transpose the first and second dimensions , or reinterpret the data as having the dimensions transposed.

https://docs.scipy.org/doc/numpy/reference/generated/nu

[2019-11-11 20:04] mbchang commented on #86
@maximecb you are right, thank you! I reshaped the frame and now it looks as expected:

![image](https://user-images.githubusercontent.com/6439365/68617126-65956700-047b-11ea-91ef-ffe71c31ea7c.png)

Thank you so much!

[2019-11-11 20:04] #86 closed

[2019-11-11 22:57] akshay-sharma1995 commented on #80
Hey @chitwansaharia, sorry for the delay. I am trying to run an expert along with a trained learner while evaluation. I made the relevant changes in the babyai/babyai/evaluate.py file. I have attached the code as a pastebin over here: https://pastebin.com/embed_js/FPhi7RWV
I have added made the relevant changes in the ManyEnvs class and batch_evaluate function.
You can run it by using the default

[2019-11-22 15:51] maximecb commented on #78
@rizar seems correct?

[2019-11-22 19:15] rizar commented on #78
I am bit surprised to hear this. @ricvolpe , could you please give us some snippets of what you see in these logs?

[2019-12-16 16:32] #50 closed

[2020-01-28 21:03] dyth opened #89 "Missing dependency for scikit-build"
Whilst installing BabyAI with conda on compute-canada, I encounted an error `no module named skbuild` during the very last step `pip install --editable .`.
Some googling revealed that this was caused by a missing package named `scikit-build`, which can installed by `pip install scikit-build`.
Hence this issue could be resolved by adding `scikit-build` to `environment.yaml` under `pip`.

However, I

[2020-01-29 13:50] dyth commented on #89
This seems to be a Compute Canada issue.
I can install BabyAI with no problems at all on my local machine.

[2020-01-29 15:39] maximecb commented on #89
You used conda on your local machine?

It might work on your local machine because scikit-build is already installed in your pip environment outside. I think it could be wise to still add it to the yaml file just in case.

[2020-01-29 15:40] #78 closed

[2020-01-29 17:08] dyth commented on #89
I did use conda.  Nevertheless, please see #90 for a PR containing this change.

[2020-01-29 20:14] maximecb commented on #89
Thanks David

[2020-01-29 20:14] #89 closed

[2020-01-30 08:46] zynos opened #91 "AttGRU model is broken + my quick Fix"
when i start `train_rl` of the iclr19 branch with:
`--env BabyAI-PickupLoc-v0 --recurrence 20 --memory-dim 2048 --instr-arch "attgru" --tb --procs 64`
(this should be the Large model from your paper)

the program crashes at this line in` model.py`:
[code]
with the message
`RuntimeError: The size of tensor a (8) must match the size of tensor b (9) at non-singleton dimension 1`

to fix it i looked i

[2020-01-30 15:52] maximecb commented on #91
@zynos which version if PyTorch are you using?

@rizar what do you think?

[2020-01-30 16:07] zynos commented on #91
@maximecb  i am using pytorch 1.3.1

[2020-01-30 20:46] maximecb commented on #91
@zynos would you be so kind as to open a pull request with your proposed changes?

[2020-01-30 22:32] rizar commented on #91
Looks like a bug. Will get back to this first thing tomorrow morning.

[2020-01-31 08:57] zynos commented on #91
@maximecb done, but i think it should be tested with other environments, it works at least with PutNextLocal

[2020-02-11 11:32] #91 closed

[2020-04-23 08:45] zynos opened #94 "Visualizing stored "images""
Question:
I am storing whole episodes in a buffer. Is it possible to visualize the 7x7x3 "images" like you did in the paper?
I want to pass the "image" matrix to a function and get a rendered picture, where I see all the objects and their color like in the BabyAI paper.

Thanks in advance!

[2020-04-23 21:25] maximecb commented on #94
Hi @zynos,

There is a function `get_obs_render()` that can be called to produce an image array from an observation:

https://github.com/maximecb/gym-minigrid/blob/master/gym_minigrid/minigrid.py#L1212

[2020-04-24 08:36] zynos commented on #94
Thanks a lot @maximecb !

in case someone wants to try the same:

[code]

`env.render("human")` is necessary for QT otherwise you get the error
 `QPixmap: Must construct a QGuiApplication before a QPixmap`

[2020-04-24 08:36] #94 closed

[2020-06-08 16:39] luckeciano opened #95 "Publish pip package"
Hello,

I would like to know if the team has plans to publish a pip package for BabyAI anytime soon. It would be very useful to automate installation.

Thanks for the incredible work and support!

[2020-06-08 17:07] maximecb commented on #95
Hi luckeciano,

Not at this time, but consider that it is possible to install git repo dependency links using pip. The babyai setup.py from this repo does it: https://github.com/mila-iqia/babyai/blob/master/setup.py#L14

[2020-06-08 17:08] #46 closed

[2020-12-14 23:18] jsyedidia opened #98 "enjoy.py script seems to expect old PyQT version of gym-minigrid"
I wanted to watch the planning bot solve the Boss Levels, so I ran the command `./scripts/enjoy.py --env BabyAI-BossLevel-v0 --model BOT` and got this error:

[code]

Commenting out the lines

[code]
at the bottom of `enjoy.py` made the command work (although closing the window in the GUI caused a problem).

But then I wanted to try manual-mode and I got another error:

[code]

Looking into the co

[2020-12-16 04:25] maximecb commented on #98
Thanks for pointing this out. I made the refactoring to `gym-minigrid` so we could eliminate the PyQT dependency, because it was often causing issues when installing on clusters or machines without a display attached.

It looks like we forgot to make the necessary changes to `enjoy.py`. For the moment I can point you to the corresponding minigrid script: https://github.com/maximecb/gym-minigrid/bl

[2020-12-17 05:47] maximecb commented on #98
A fix is on the way, I have a pull request in #99. Should get merged shortly, but you can check it out from the PR branch if you're impatient :)

[2020-12-18 16:56] maximecb commented on #98
It's merged :)

[2020-12-18 16:56] #98 closed

[2020-12-23 15:25] jsyedidia opened #100 "You cannot pick up or put down objects in manual-mode in enjoy.py"
When I run the command
`./scripts/enjoy.py --env BabyAI-BossLevel-v0 --model BOT --manual-mode`
I cannot pick up or put down any objects manually. I can execute other commands manually like moving or opening doors. If I keep hitting `<RETURN>` to have the BOT execute commands, it picks up objects and puts them down fine. I can pick up objects and put them down fine using
`./scripts/manual_control.

[2020-12-23 15:30] dyth commented on #100
I think pickup and drop have been changed to `p` and `d` (https://github.com/mila-iqia/babyai/pull/99/commits/3b6b3c5356c481a649f5df64bad409117fec86ac)

[2020-12-23 15:33] jsyedidia commented on #100
Oh, OK, Thank you. I can adapt. It's a bit confusing that you use `p` and `d` in `enjoy.py` and `<PageUp>` and `<PageDown>` in `manual_control.py`, but you can decide whether you want to change that.

[2020-12-23 17:14] maximecb commented on #100
It's because there's no pageup/pagedown keys on some macbook laptops. I'll modify the scripts to support both sets of keys.

[2020-12-23 17:23] maximecb commented on #100
@dyth I just opened a small PR if you can quickly review it :)

[2021-01-04 19:21] wcarvalho opened #102 "Know full vocabulary apriori."
Hello,

Is it possible to know the full vocabulary apriori? I plan to run the envs in parallel processes, with optimization/env steps happening in parallel. If I do this, each process has its own agent, but then the {str:index} correspondence won't be consistent. Reading the paper, I'm under the impression this is a closed/fixed vocabulary?

[2021-01-04 19:37] maximecb commented on #102
Hello @wcarvalho. Yes the vocabulary is fixed. It should be relatively easy to run the environment a number of times and dump all possible words into a JSON file which you could then use to create a fixed mapping.

[2021-01-04 20:09] wcarvalho commented on #102
Cool. Used this script in case useful for anyone else
[code]

[2021-01-04 20:09] #102 closed

[2021-01-08 18:13] wcarvalho opened #103 "Impossible missions are sampled?"
GoToLocal seems to not be working.

![image](https://user-images.githubusercontent.com/6220222/104049578-311e5780-51b3-11eb-9bca-4df8b9884662.png)

There is no yellow box in the env?

Code to reproduce:
[code]

[2021-01-08 18:16] wcarvalho commented on #103
For some reason, it seems that many missions I sample are impossible...

![image](https://user-images.githubusercontent.com/6220222/104049806-9114fe00-51b3-11eb-928c-af5eeb10fe59.png)

![image](https://user-images.githubusercontent.com/6220222/104049822-95d9b200-51b3-11eb-9f46-74ca60d3672c.png)

Out of 10 samples, only 1 was valid:
![image](https://user-images.githubusercontent.com/6220222/1040498

[2021-01-08 18:29] #103 closed

[2021-01-08 18:30] wcarvalho commented on #103
It was a bug in the rendering. Made a pull request in gym minigrid library.

[2021-01-09 16:56] wcarvalho opened #104 "Question about performance"
I'm reading through the babyAI paper and I see that the RL sample-efficiency for "GoToRedBallGrey" is ~34. Am I to understand from this that from completing 34 episodes (w/ either success or failure), the agent was able to get a 99% success rate? The code does 64 processes in parallel. Does that mean that after I single iteration of going through the episode once, the agent is able to get 99% succ

[2021-01-09 21:20] maximecb commented on #104
The numbers are in thousands of episodes.

[2021-01-09 21:22] #95 closed

[2021-01-09 21:22] #33 closed

[2021-01-11 11:49] dyth commented on #104
The numbers are indeed in thousands.

[2021-01-11 15:02] #104 closed

[2021-01-22 19:33] wcarvalho opened #105 "PutNextLocal"
I haven't been able to get 99% success rate for PutNextLocal. Are the default command-line arguments correct for that task? I plateau at about 65-70% success rate.

[2021-01-22 22:30] maximecb commented on #105
Hello @wcarvalho. Do you mean with reinforcement learning or imitation learning?

The command-line arguments should be as in the paper, but the time required could be as much as a day or so. What frame rate are you getting?

[2021-01-23 23:51] wcarvalho commented on #105
I mean with reinforcement learning. I am getting an FPS of 300-600 (but this is with me running 4 experiments per GPU).
I am using the command-line arguments in the file + code with my own implementation of PPO. I was able to replicate all other results besides PutNextLocall.

Also, the plateau was about 85% and I ran the models for 1e8 steps.

[2021-01-24 00:29] maximecb commented on #105
The code was modified since we published the BabyAI paper. There is an [iclr19 branch](https://github.com/mila-iqia/babyai/tree/iclr19) with the code as used in the paper if you want to replicate those results. Otherwise, you might need to tweak the hyper-parameters.

@dyth any comments?

[2021-01-25 01:36] dyth commented on #105
@wcarvalho, your FPS seems fine.  See Table 2 in [BabyAI 1.1](https://arxiv.org/pdf/2007.12770.pdf).  Are you using the same model architecture as those described?

[2021-01-28 14:27] Bihaqo opened #106 "Bot bugs (attribute error: prev_carrying)"
When running the bot on all levels, from time to time I experience the following errors:
`AttributeError: 'Bot' object has no attribute 'prev_carrying'` (bot.py:125)
`AttributeError: 'Bot' object has no attribute 'prev_fwd_cell'` (bot.py:947)

It happens on _some_ episodes e.g. on the level Open or Pickup.

[2021-01-28 14:56] maximecb commented on #106
Hi @Bihaqo, can you provide a sample command that reproduces the bug?

[2021-01-28 21:33] dyth commented on #105
PutNextLocal is not trainable from pixels with learning rate 10-4.  We found that it worked with 5x10-5 (page 5 of BabyAI 1.1).  You are right, in these experiments we didn't try annealing the learning rate, it would be curious to see whether that stabilises training!

[2021-01-29 12:26] Bihaqo commented on #106
Oh, sorry, my bad, turned out that I wasn't resetting everything properly in between episodes.

[2021-01-29 12:26] #106 closed

[2021-01-29 20:06] wcarvalho commented on #105
This solved it. Had to **remove** annealing the learning rate.

[2021-01-29 20:06] #105 closed

[2021-01-29 20:57] maximecb commented on #105
Interesting!

[2021-03-15 15:09] dyth commented on #100
@jsyedidia now you can use both `p`, `d` and `<PageUp>`, `<PageDown>`

[2021-03-15 15:09] dyth commented on #100
@maximecb shall we close this?

[2021-03-15 15:26] #100 closed

[2021-05-04 13:10] ayushchakravarthy opened #109 "Unable to run PPO agent with arch=bow_endpool_res_pixels"
Hey!
I am new to DeepRL and am implementing a paper in the BabyAI environment.
I am trying to run the default ppo algorithm using the train_rl.py script however, I am unable to when I set the flag arch = 'bow_endpool_res_pixels'
The error I get is when the image_conv is applied and says that:
RuntimeError: Given groups=1, weight of size [128, 3, 8, 8], expected input[64, 128, 56, 56] to have 3 cha

[2021-05-04 13:58] dyth commented on #109
Hello!

The arch name convention is `<input>_<config>`.  So if you want to train from pixels, you would have to use `pixels_<config>`,
  We recommend `pixels_endpool_res`.  Hope this helps!

[2021-05-05 15:16] ayushchakravarthy commented on #109
Thank you so much, that worked!
Appreciate the help!

[2021-05-05 15:16] #109 closed

[2022-07-03 06:42] NagisaZj opened #110 "Waht's the package version of gym-minigrid and gym used for the baseline results?"
Hi. It seems that the gym and gym-minigrid versions are not specified in the repo. I tried gym-minigrid==1.0.2 and gym==0.24.1, and it gives the following error:

[code]

I somehow fixed this by downgrading gym to 0.10.9, but I wonder if the versions of gym and gym-minigrid may affect the environment. So can you specify the gym and gym-minigrid versions you used for producing your results? Thanks

[2022-07-10 02:16] Amanda-1997 opened #111 "When I run 'BabyAI-PutNext-v0', it did not work after 24 hours' training..."
`python script/train_rl.py --env 'BabyAI-PutNext-v0' --tb True`

Should I configure other parameters?

But I change the environment to 'Open' or 'Pickup' or 'Goto', it works well.

[2022-07-12 18:06] tttyuntian opened #113 "Sampling unsolvable demonstrations"
Hi, is there anyway efficient way to generate unsolvable demonstrations? It seems that some levels have a 100% rate of getting solvable initialized grids, but, for example, in BossLevel the generator may produce unsolvable cases. Thanks!

[2022-08-25 10:46] Valaybundele opened #115 "Mission not accomplished in the last observation"
Hi,

I was visualising the last observation of each demonstration generated by the bot and I found that the goal was not achieved in the last observation too. Are the goals not achieved in all the generated demonstrations or am I making some mistake here? Please let me know. I used the following code for visualising the last obs in the demo. I have also attached some of the images of the last obse

[2022-09-20 18:14] quinlanp opened #116 "Error during install: "pip install --editable ." in babyai folder"
Error when running conda setup instructions, has anyone ran into this before? Linux
![babyaierror](https://user-images.githubusercontent.com/82422675/191333152-a4c14e64-487c-4196-afd2-ecbb27ef4336.PNG)

[2022-10-30 23:46] sunchipsster1 opened #117 "What does the agent see, in 7x7?"
Hello! I am currently running the task GoToRedBallGrey with the settings bow_endpool_res.
According to the babyai paper, the observations should be 7x7x3 showing the pixels in front.

However, here are 2 different episodes that I saved which confused me alot.

It is not clear to me where the agent is in the 7x7x3 screen?

Moreover, in both of these trajectories, **sometimes the field of view moves

[2022-11-02 18:19] dyth commented on #117
Summarised transcript of an internal discussion between @dyth and @sunchipsster1:

* the gifs in the first post are transposed and the the x and y axes should be swapped
* once that is done the pixel in the environment that moves should always be the middle pixel of the bottom row bc when you pick up an object, it should always appear in the middle pixel of the bottom row
* the bottom middle shoul

[2022-11-10 08:39] gjrb0324 commented on #116
I was in same error, try 'conda install gym_minigrid' or 'pip3 install gym_minigrid'

[2022-11-10 21:55] saleml commented on #116
Please use minigrid, which includes all the BabyAI environments, and is actively maintained.

[2022-11-10 21:55] saleml commented on #111
Please use minigrid, which includes all the BabyAI environments, and is actively maintained.

For RL, use [torch-ac](https://github.com/lcswillems/torch-ac).

[2022-11-10 21:56] saleml commented on #110
Please use minigrid (which includes BabyAI environments) and  [torch-ac](https://github.com/lcswillems/torch-ac), instead of this repo.

[2022-11-15 11:11] dyth commented on #110
Hi there, the version of gym minigrid I used was `af0e00fe906fccfc70ef116a5ee89751e1441942` and the BabyAI version was `863f3529371ba45ef0148a48b48f5ae6e61e06cc`